.footer {
    background: rgb(38, 178, 184);
    background: linear-gradient(45deg, rgba(38, 178, 184, 1) 0%, rgba(136, 175, 97, 1) 100%);
}

.box a {
    border: 1px solid black;
}

.box a:hover {
    box-shadow: 0 3px 10px rgb(0, 0, 0) !important;

}